.services-title {
	margin-bottom: 50px;
	text-transform: uppercase;
}

.services-container {
	width: 95%;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.price {
	width: 75px;
	height: 75px;
	margin: 0px;
	background-color: rgb(175, 219, 183);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 50%;
	position: relative;
	top: -28px;
	left: 308px;
	transform: rotate(15deg);
}

.service-card-txt {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

.service-card-txt-tight {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

.service-card {
	width: 350px;
	height: 385px;
	margin: 10px;
	padding: 1em;
	background-image: url("/services-background-vertical-reversed.png");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  	display: -ms-flexbox;  /* TWEENER - IE 10 */
  	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: space-around;
}

#package-decoration-image {
	width: 100%;
	height: 210px;
	border-radius: 10px;
	opacity: 0.5;
}

@media only screen and (max-width: 432px) {
	.service-card {
		width: 300px;
		font-size: 0.9em;
		margin: 10px 0px;
	}
	.price {
	width: 65px;
	height: 65px;
	font-size: 0.9em;
	left: 258px;
	}
}

@media only screen and (max-width: 376px) {
	.service-card {
		width: 270px;
		height: 390px;
	}
	.price {
	left: 228px;
	}
}

@media only screen and (max-width: 336px) {
	.service-card {
		width: 250px;
	}
	.price {
	left: 208px;
	}
}

@media only screen and (max-width: 310px) {
	.service-card {
		width: 240px;
	}
	.price {
	left: 198px;
	}
}